<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{{ url_prefix }}/img/favicon.png">
    <link rel="stylesheet" href="{{ url_prefix }}/css/main.css">
    <title>Rhasspy</title>
  </head>
  <body>
    <div id="header">
      <a href="{{ url_prefix }}/">
        <img id="banner" title="Banner" src="{{ url_prefix }}/img/banner.png">
      </a>
    </div>

    {% block body %}{% endblock %}
  </body>

  <script src="{{ url_prefix }}/js/main.js"></script>
</html>
